<a href="https://colab.research.google.com/github/omkale392/Data-Acquisition-and-Preprocessing/blob/main/20018405_CA2_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
# Importing Libraries
from bs4 import BeautifulSoup
import requests
import pandas as pd
import sqlite3
import numpy as np

In [27]:
url = 'https://web.archive.org/web/20230902185655/https://en.everybodywiki.com/100_Most_Highly-Ranked_Films' # URL initialization
db = 'Movies.db'
table_name = 'Top_50'
csv_path = '/home/project/top_50_films.csv'
df = pd.DataFrame(["Average Rank","Film","Year"])
count = 0

# Loading webpage for webscraping
html_page = requests.get(url).text
data = BeautifulSoup(html_page, 'html.parser')

In [41]:
# Scraping required data
tables = data.find_all('tbody')
rows = tables[0].find_all('tr')

In [37]:

for row in rows:
    if count < 50 :
        col = row.find_all('td')
        if len(col)!=0:
            data_dict = {"Average Rank": int(col[0].contents[0]),
                         "Film": str(col[1].contents[0]),
                         "Year": int(col[2].contents[0])}
            df1 = pd.DataFrame(data_dict, index=[0])
            df = pd.concat([df,df1], ignore_index=True)
            count+=1
    else:
        break

In [38]:
print(df)

               0  Average Rank  \
0   Average Rank           NaN
1           Film           NaN
2           Year           NaN
3            NaN           1.0
4            NaN           2.0
5            NaN           3.0
6            NaN           4.0
7            NaN           5.0
8            NaN           6.0
9            NaN           7.0
10           NaN           8.0
11           NaN           9.0
12           NaN          10.0
13           NaN          11.0
14           NaN          12.0
15           NaN          13.0
16           NaN          14.0
17           NaN          15.0
18           NaN          16.0
19           NaN          17.0
20           NaN          18.0
21           NaN          19.0
22           NaN          20.0
23           NaN          21.0
24           NaN          22.0
25           NaN          23.0
26           NaN          24.0
27           NaN          25.0
28           NaN          26.0
29           NaN          27.0
30           NaN          28.0
31           NaN          29.0
32           NaN          30.0
33           NaN          31.0
34           NaN          32.0
35           NaN          33.0
36           NaN          34.0
37           NaN          35.0
38           NaN          36.0
39           NaN          37.0
40           NaN          38.0
41           NaN          39.0
42           NaN          40.0
43           NaN          41.0
44           NaN          42.0
45           NaN          43.0
46           NaN          44.0
47           NaN          45.0
48           NaN          46.0
49           NaN          47.0
50           NaN          48.0
51           NaN          49.0
52           NaN          50.0

                                                 Film    Year
0                                                 NaN     NaN
1                                                 NaN     NaN
2                                                 NaN     NaN
3                                       The Godfather  1972.0
4                                        Citizen Kane  1941.0
5                                          Casablanca  1942.0
6                              The Godfather, Part II  1974.0
7                                 Singin' in the Rain  1952.0
8                                              Psycho  1960.0
9                                         Rear Window  1954.0
10                                     Apocalypse Now  1979.0
11                              2001: A Space Odyssey  1968.0
12                                      Seven Samurai  1954.0
13                                            Vertigo  1958.0
14                                        Sunset Blvd  1950.0
15                                       Modern Times  1936.0
16                                 Lawrence of Arabia  1962.0
17                                 North by Northwest  1959.0
18                                          Star Wars  1977.0
19                                           Parasite  2019.0
20                                   Schindler's List  1993.0
21      Lord of the Rings: The Fellowship of the Ring  2001.0
22                               Shawshank Redemption  1994.0
23                              It's a Wonderful Life  1946.0
24                                       Pulp Fiction  1994.0
25                                  Avengers: Endgame  2019.0
26                                        City Lights  1931.0
27                    One Flew Over the Cuckoo's Nest  1975.0
28                                         Goodfellas  1990.0
29                            Raiders of the Lost Ark  1981.0
30                                       12 Angry Men  1957.0
31                           The Silence of the Lambs  1991.0
32                                        Taxi Driver  1976.0
33                                Saving Private Ryan  1998.0
34                         E.T. the Extra Terrestrial  1982.0
35                                              Alien  1979.0
36                  Spider-Man: Into the Spider-verse  2018.0
37                                       Blade Runner  1982.0
38                                   Double Indemnity  1944.0
39                                    The Dark Knight  2008.0
40  <a href="/web/20230902185655/https://en.everyb...  1939.0
41      Star Wars: Episode V- The Empire Strikes Back  1980.0
42                                      The Searchers  1956.0
43                                 Mad Max: Fury Road  2015.0
44                                          Inception  2010.0
45              Lord of the Rings: Return of the King  2003.0
46                                         The Matrix  1999.0
47                                         Fight Club  1999.0
48                                 Back to the Future  1985.0
49                              It Happened One Night  1934.0
50                    The Good, the Bad, and the Ugly  1966.0
51                  Lord of the Rings: The Two Towers  2002.0
52                                      All About Eve  1950.0

In [39]:
df.to_csv('Desktop')

In [40]:
conn = sqlite3.connect(db)
df.to_sql(table_name, conn, if_exists='replace', index= False)
conn.close()