<a href="https://colab.research.google.com/github/omkale392/Data-Acquisition-and-Preprocessing/blob/main/20018405_CA2_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Importing Libraries
from bs4 import BeautifulSoup
import requests
import pandas as pd
import sqlite3
import numpy as np

In [ ]:
url = 'https://web.archive.org/web/20230902185655/https://en.everybodywiki.com/100_Most_Highly-Ranked_Films' # URL initialization
db = 'Movies.db' # SQLite database file
table_name = 'Top_50' # table in the SQLite database
csv_path = '/home/project/top_50_films.csv' # Path for saving the scraped data as a CSV file
df = pd.DataFrame(["Average Rank","Film","Year"])  # Creating an Empty dataframe with some columns
count = 0 # Counter to keep the track of number of items scraped

# Loading webpage for webscraping

In [ ]:
html_page = requests.get(url).text
data = BeautifulSoup(html_page, 'html.parser')

# Scraping required data

In [ ]:
tables = data.find_all('tbody')
rows = tables[0].find_all('tr')

# Iterating over each row in table

In [ ]:
for row in rows:
    if count < 50 :
      # Extracting all cells in each row
        col = row.find_all('td')
        if len(col)!=0:
          # Creating a dictionary with screaped data
            data_dict = {"Average Rank": int(col[0].contents[0]),
                         "Film": str(col[1].contents[0]),
                         "Year": int(col[2].contents[0])}

            df1 = pd.DataFrame(data_dict, index=[0]) # Creating a dataframe for the currunt row
            df = pd.concat([df,df1], ignore_index=True) #Adding data from current row to main dataframe
            count+=1 # Incrementing the counter
    else:
        break

In [ ]:
print(df)

               0  Average Rank  \
0   Average Rank           NaN
1           Film           NaN
2           Year           NaN
3            NaN           1.0
4            NaN           2.0
5            NaN           3.0
6            NaN           4.0
7            NaN           5.0
8            NaN           6.0
9            NaN           7.0
10           NaN           8.0
11           NaN           9.0
12           NaN          10.0
13           NaN          11.0
14           NaN          12.0
15           NaN          13.0
16           NaN          14.0
17           NaN          15.0
18           NaN          16.0
19           NaN          17.0
20           NaN          18.0
21           NaN          19.0
22           NaN          20.0
23           NaN          21.0
24           NaN          22.0
25           NaN          23.0
26           NaN          24.0
27           NaN          25.0
28           NaN          26.0
29           NaN          27.0
30           NaN          28.0
31           NaN          29.0
32           NaN          30.0
33           NaN          31.0
34           NaN          32.0
35           NaN          33.0
36           NaN          34.0
37           NaN          35.0
38           NaN          36.0
39           NaN          37.0
40           NaN          38.0
41           NaN          39.0
42           NaN          40.0
43           NaN          41.0
44           NaN          42.0
45           NaN          43.0
46           NaN          44.0
47           NaN          45.0
48           NaN          46.0
49           NaN          47.0
50           NaN          48.0
51           NaN          49.0
52           NaN          50.0

                                                 Film    Year
0                                                 NaN     NaN
1                                                 NaN     NaN
2                                                 NaN     NaN
3                                       The Godfather  1972.0
4                                        Citizen Kane  1941.0
5                                          Casablanca  1942.0
6                              The Godfather, Part II  1974.0
7                                 Singin' in the Rain  1952.0
8                                              Psycho  1960.0
9                                         Rear Window  1954.0
10                                     Apocalypse Now  1979.0
11                              2001: A Space Odyssey  1968.0
12                                      Seven Samurai  1954.0
13                                            Vertigo  1958.0
14                                        Sunset Blvd  1950.0
15                                       Modern Times  1936.0
16                                 Lawrence of Arabia  1962.0
17                                 North by Northwest  1959.0
18                                          Star Wars  1977.0
19                                           Parasite  2019.0
20                                   Schindler's List  1993.0
21      Lord of the Rings: The Fellowship of the Ring  2001.0
22                               Shawshank Redemption  1994.0
23                              It's a Wonderful Life  1946.0
24                                       Pulp Fiction  1994.0
25                                  Avengers: Endgame  2019.0
26                                        City Lights  1931.0
27                    One Flew Over the Cuckoo's Nest  1975.0
28                                         Goodfellas  1990.0
29                            Raiders of the Lost Ark  1981.0
30                                       12 Angry Men  1957.0
31                           The Silence of the Lambs  1991.0
32                                        Taxi Driver  1976.0
33                                Saving Private Ryan  1998.0
34                         E.T. the Extra Terrestrial  1982.0
35                                              Alien  1979.0
36                  Spider-Man: Into the Spider-verse  2018.0
37                                       Blade Runner  1982.0
38                                   Double Indemnity  1944.0
39                                    The Dark Knight  2008.0
40  <a href="/web/20230902185655/https://en.everyb...  1939.0
41      Star Wars: Episode V- The Empire Strikes Back  1980.0
42                                      The Searchers  1956.0
43                                 Mad Max: Fury Road  2015.0
44                                          Inception  2010.0
45              Lord of the Rings: Return of the King  2003.0
46                                         The Matrix  1999.0
47                                         Fight Club  1999.0
48                                 Back to the Future  1985.0
49                              It Happened One Night  1934.0
50                    The Good, the Bad, and the Ugly  1966.0
51                  Lord of the Rings: The Two Towers  2002.0
52                                      All About Eve  1950.0

# Data Transformation

In [ ]:
df = pd.DataFrame(df)

In [ ]:
df

,0,Average Rank,Film,Year
0,Average Rank,NaN,NaN,NaN
1,Film,NaN,NaN,NaN
2,Year,NaN,NaN,NaN
3,NaN,1.0,The Godfather,1972.0
4,NaN,2.0,Citizen Kane,1941.0
5,NaN,3.0,Casablanca,1942.0
6,NaN,4.0,"The Godfather, Part II",1974.0
7,NaN,5.0,Singin' in the Rain,1952.0
8,NaN,6.0,Psycho,1960.0
9,NaN,7.0,Rear Window,1954.0
10,NaN,8.0,Apocalypse Now,1979.0
11,NaN,9.0,2001: A Space Odyssey,1968.0
12,NaN,10.0,Seven Samurai,1954.0
13,NaN,11.0,Vertigo,1958.0
14,NaN,12.0,Sunset Blvd,1950.0
15,NaN,13.0,Modern Times,1936.0
16,NaN,14.0,Lawrence of Arabia,1962.0
17,NaN,15.0,North by Northwest,1959.0
18,NaN,16.0,Star Wars,1977.0
19,NaN,17.0,Parasite,2019.0
20,NaN,18.0,Schindler's List,1993.0
21,NaN,19.0,Lord of the Rings: The Fellowship of the Ring,2001.0
22,NaN,20.0,Shawshank Redemption,1994.0
23,NaN,21.0,It's a Wonderful Life,1946.0
24,NaN,22.0,Pulp Fiction,1994.0
25,NaN,23.0,Avengers: Endgame,2019.0
26,NaN,24.0,City Lights,1931.0
27,NaN,25.0,One Flew Over the Cuckoo's Nest,1975.0
28,NaN,26.0,Goodfellas,1990.0
29,NaN,27.0,Raiders of the Lost Ark,1981.0
30,NaN,28.0,12 Angry Men,1957.0
31,NaN,29.0,The Silence of the Lambs,1991.0
32,NaN,30.0,Taxi Driver,1976.0
33,NaN,31.0,Saving Private Ryan,1998.0
34,NaN,32.0,E.T. the Extra Terrestrial,1982.0
35,NaN,33.0,Alien,1979.0
36,NaN,34.0,Spider-Man: Into the Spider-verse,2018.0
37,NaN,35.0,Blade Runner,1982.0
38,NaN,36.0,Double Indemnity,1944.0
39,NaN,37.0,The Dark Knight,2008.0
40,NaN,38.0,"<a href=""/web/20230902185655/https://en.everyb...",1939.0
41,NaN,39.0,Star Wars: Episode V- The Empire Strikes Back,1980.0
42,NaN,40.0,The Searchers,1956.0
43,NaN,41.0,Mad Max: Fury Road,2015.0
44,NaN,42.0,Inception,2010.0
45,NaN,43.0,Lord of the Rings: Return of the King,2003.0
46,NaN,44.0,The Matrix,1999.0
47,NaN,45.0,Fight Club,1999.0
48,NaN,46.0,Back to the Future,1985.0
49,NaN,47.0,It Happened One Night,1934.0
50,NaN,48.0,"The Good, the Bad, and the Ugly",1966.0
51,NaN,49.0,Lord of the Rings: The Two Towers,2002.0
52,NaN,50.0,All About Eve,1950.0

In [ ]:
df.index = df.index + 1

In [ ]:
df = df[df['Average Rank']!=0]

In [ ]:
df

,0,Average Rank,Film,Year
1,Average Rank,NaN,NaN,NaN
2,Film,NaN,NaN,NaN
3,Year,NaN,NaN,NaN
4,NaN,1.0,The Godfather,1972.0
5,NaN,2.0,Citizen Kane,1941.0
6,NaN,3.0,Casablanca,1942.0
7,NaN,4.0,"The Godfather, Part II",1974.0
8,NaN,5.0,Singin' in the Rain,1952.0
9,NaN,6.0,Psycho,1960.0
10,NaN,7.0,Rear Window,1954.0
11,NaN,8.0,Apocalypse Now,1979.0
12,NaN,9.0,2001: A Space Odyssey,1968.0
13,NaN,10.0,Seven Samurai,1954.0
14,NaN,11.0,Vertigo,1958.0
15,NaN,12.0,Sunset Blvd,1950.0
16,NaN,13.0,Modern Times,1936.0
17,NaN,14.0,Lawrence of Arabia,1962.0
18,NaN,15.0,North by Northwest,1959.0
19,NaN,16.0,Star Wars,1977.0
20,NaN,17.0,Parasite,2019.0
21,NaN,18.0,Schindler's List,1993.0
22,NaN,19.0,Lord of the Rings: The Fellowship of the Ring,2001.0
23,NaN,20.0,Shawshank Redemption,1994.0
24,NaN,21.0,It's a Wonderful Life,1946.0
25,NaN,22.0,Pulp Fiction,1994.0
26,NaN,23.0,Avengers: Endgame,2019.0
27,NaN,24.0,City Lights,1931.0
28,NaN,25.0,One Flew Over the Cuckoo's Nest,1975.0
29,NaN,26.0,Goodfellas,1990.0
30,NaN,27.0,Raiders of the Lost Ark,1981.0
31,NaN,28.0,12 Angry Men,1957.0
32,NaN,29.0,The Silence of the Lambs,1991.0
33,NaN,30.0,Taxi Driver,1976.0
34,NaN,31.0,Saving Private Ryan,1998.0
35,NaN,32.0,E.T. the Extra Terrestrial,1982.0
36,NaN,33.0,Alien,1979.0
37,NaN,34.0,Spider-Man: Into the Spider-verse,2018.0
38,NaN,35.0,Blade Runner,1982.0
39,NaN,36.0,Double Indemnity,1944.0
40,NaN,37.0,The Dark Knight,2008.0
41,NaN,38.0,"<a href=""/web/20230902185655/https://en.everyb...",1939.0
42,NaN,39.0,Star Wars: Episode V- The Empire Strikes Back,1980.0
43,NaN,40.0,The Searchers,1956.0
44,NaN,41.0,Mad Max: Fury Road,2015.0
45,NaN,42.0,Inception,2010.0
46,NaN,43.0,Lord of the Rings: Return of the King,2003.0
47,NaN,44.0,The Matrix,1999.0
48,NaN,45.0,Fight Club,1999.0
49,NaN,46.0,Back to the Future,1985.0
50,NaN,47.0,It Happened One Night,1934.0
51,NaN,48.0,"The Good, the Bad, and the Ugly",1966.0
52,NaN,49.0,Lord of the Rings: The Two Towers,2002.0
53,NaN,50.0,All About Eve,1950.0

In [ ]:
df = df.drop(0, axis=1)

In [ ]:
df

    Average Rank                                               Film    Year
1            NaN                                                NaN     NaN
2            NaN                                                NaN     NaN
3            NaN                                                NaN     NaN
4            1.0                                      The Godfather  1972.0
5            2.0                                       Citizen Kane  1941.0
6            3.0                                         Casablanca  1942.0
7            4.0                             The Godfather, Part II  1974.0
8            5.0                                Singin' in the Rain  1952.0
9            6.0                                             Psycho  1960.0
10           7.0                                        Rear Window  1954.0
11           8.0                                     Apocalypse Now  1979.0
12           9.0                              2001: A Space Odyssey  1968.0
13          10.0                                      Seven Samurai  1954.0
14          11.0                                            Vertigo  1958.0
15          12.0                                        Sunset Blvd  1950.0
16          13.0                                       Modern Times  1936.0
17          14.0                                 Lawrence of Arabia  1962.0
18          15.0                                 North by Northwest  1959.0
19          16.0                                          Star Wars  1977.0
20          17.0                                           Parasite  2019.0
21          18.0                                   Schindler's List  1993.0
22          19.0      Lord of the Rings: The Fellowship of the Ring  2001.0
23          20.0                               Shawshank Redemption  1994.0
24          21.0                              It's a Wonderful Life  1946.0
25          22.0                                       Pulp Fiction  1994.0
26          23.0                                  Avengers: Endgame  2019.0
27          24.0                                        City Lights  1931.0
28          25.0                    One Flew Over the Cuckoo's Nest  1975.0
29          26.0                                         Goodfellas  1990.0
30          27.0                            Raiders of the Lost Ark  1981.0
31          28.0                                       12 Angry Men  1957.0
32          29.0                           The Silence of the Lambs  1991.0
33          30.0                                        Taxi Driver  1976.0
34          31.0                                Saving Private Ryan  1998.0
35          32.0                         E.T. the Extra Terrestrial  1982.0
36          33.0                                              Alien  1979.0
37          34.0                  Spider-Man: Into the Spider-verse  2018.0
38          35.0                                       Blade Runner  1982.0
39          36.0                                   Double Indemnity  1944.0
40          37.0                                    The Dark Knight  2008.0
41          38.0  <a href="/web/20230902185655/https://en.everyb...  1939.0
42          39.0      Star Wars: Episode V- The Empire Strikes Back  1980.0
43          40.0                                      The Searchers  1956.0
44          41.0                                 Mad Max: Fury Road  2015.0
45          42.0                                          Inception  2010.0
46          43.0              Lord of the Rings: Return of the King  2003.0
47          44.0                                         The Matrix  1999.0
48          45.0                                         Fight Club  1999.0
49          46.0                                 Back to the Future  1985.0
50          47.0                              It Happened One Night  1934.0
51          48.0                    The Good, the Bad, and the Ugly  1966.0
52          49.0                  Lord of the Rings: The Two Towers  2002.0
53          50.0                                      All About Eve  1950.0

In [ ]:
df = df.iloc[3:]
df

    Average Rank                                               Film    Year
12           9.0                              2001: A Space Odyssey  1968.0
13          10.0                                      Seven Samurai  1954.0
14          11.0                                            Vertigo  1958.0
15          12.0                                        Sunset Blvd  1950.0
16          13.0                                       Modern Times  1936.0
17          14.0                                 Lawrence of Arabia  1962.0
18          15.0                                 North by Northwest  1959.0
19          16.0                                          Star Wars  1977.0
20          17.0                                           Parasite  2019.0
21          18.0                                   Schindler's List  1993.0
22          19.0      Lord of the Rings: The Fellowship of the Ring  2001.0
23          20.0                               Shawshank Redemption  1994.0
24          21.0                              It's a Wonderful Life  1946.0
25          22.0                                       Pulp Fiction  1994.0
26          23.0                                  Avengers: Endgame  2019.0
27          24.0                                        City Lights  1931.0
28          25.0                    One Flew Over the Cuckoo's Nest  1975.0
29          26.0                                         Goodfellas  1990.0
30          27.0                            Raiders of the Lost Ark  1981.0
31          28.0                                       12 Angry Men  1957.0
32          29.0                           The Silence of the Lambs  1991.0
33          30.0                                        Taxi Driver  1976.0
34          31.0                                Saving Private Ryan  1998.0
35          32.0                         E.T. the Extra Terrestrial  1982.0
36          33.0                                              Alien  1979.0
37          34.0                  Spider-Man: Into the Spider-verse  2018.0
38          35.0                                       Blade Runner  1982.0
39          36.0                                   Double Indemnity  1944.0
40          37.0                                    The Dark Knight  2008.0
41          38.0  <a href="/web/20230902185655/https://en.everyb...  1939.0
42          39.0      Star Wars: Episode V- The Empire Strikes Back  1980.0
43          40.0                                      The Searchers  1956.0
44          41.0                                 Mad Max: Fury Road  2015.0
45          42.0                                          Inception  2010.0
46          43.0              Lord of the Rings: Return of the King  2003.0
47          44.0                                         The Matrix  1999.0
48          45.0                                         Fight Club  1999.0
49          46.0                                 Back to the Future  1985.0
50          47.0                              It Happened One Night  1934.0
51          48.0                    The Good, the Bad, and the Ugly  1966.0
52          49.0                  Lord of the Rings: The Two Towers  2002.0
53          50.0                                      All About Eve  1950.0

In [ ]:
df = df.iloc[3:].reset_index(drop=True)
df.index = df.index+1
df

    Average Rank                                               Film    Year
1           18.0                                   Schindler's List  1993.0
2           19.0      Lord of the Rings: The Fellowship of the Ring  2001.0
3           20.0                               Shawshank Redemption  1994.0
4           21.0                              It's a Wonderful Life  1946.0
5           22.0                                       Pulp Fiction  1994.0
6           23.0                                  Avengers: Endgame  2019.0
7           24.0                                        City Lights  1931.0
8           25.0                    One Flew Over the Cuckoo's Nest  1975.0
9           26.0                                         Goodfellas  1990.0
10          27.0                            Raiders of the Lost Ark  1981.0
11          28.0                                       12 Angry Men  1957.0
12          29.0                           The Silence of the Lambs  1991.0
13          30.0                                        Taxi Driver  1976.0
14          31.0                                Saving Private Ryan  1998.0
15          32.0                         E.T. the Extra Terrestrial  1982.0
16          33.0                                              Alien  1979.0
17          34.0                  Spider-Man: Into the Spider-verse  2018.0
18          35.0                                       Blade Runner  1982.0
19          36.0                                   Double Indemnity  1944.0
20          37.0                                    The Dark Knight  2008.0
21          38.0  <a href="/web/20230902185655/https://en.everyb...  1939.0
22          39.0      Star Wars: Episode V- The Empire Strikes Back  1980.0
23          40.0                                      The Searchers  1956.0
24          41.0                                 Mad Max: Fury Road  2015.0
25          42.0                                          Inception  2010.0
26          43.0              Lord of the Rings: Return of the King  2003.0
27          44.0                                         The Matrix  1999.0
28          45.0                                         Fight Club  1999.0
29          46.0                                 Back to the Future  1985.0
30          47.0                              It Happened One Night  1934.0
31          48.0                    The Good, the Bad, and the Ugly  1966.0
32          49.0                  Lord of the Rings: The Two Towers  2002.0
33          50.0                                      All About Eve  1950.0

# Saving the DataFrame to CSV file

In [ ]:
df.to_csv('Desktop')

In [ ]:
# Connection to a SQLite database
connection = sqlite3.connect(db)

# Saving the DataFrame to the SQLite database
df.to_sql(table_name, connection, if_exists='replace', index= False)

# Closing the database connection
connection.close()